@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
* {
  outline: none;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background: #4c5ea8;
  background: linear-gradient(60deg, #fac47e 0%, rgba(0, 89, 72, 0.4) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body {
  height: 100%;
  width: 100%;
  padding-top: 32px;
  margin: 0 32px;
}

html body .generic-list-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 700;
  background: #ffffff50;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 12px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 4px 12px 12px rgba(0, 0, 0, 0.12);
}

html body .generic-list-page input {
  padding: 8px 18px;
  border-radius: 10px;
  border: 0px;
}

html body .generic-list-page .add-edit-form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

@media screen and (max-width: 650px) {
  html body .generic-list-page .add-edit-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html body .generic-list-page .add-edit-form .titlebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 80px;
}

@media screen and (max-width: 850px) {
  html body .generic-list-page .add-edit-form .titlebox {
    padding-right: 20px;
  }
}

html body .generic-list-page .add-edit-form .titlebox .titletext {
  font-size: 90px;
  font-weight: 400;
  font-family: 'Style Script', cursive;
  color: #fff;
}

@media screen and (max-width: 850px) {
  html body .generic-list-page .add-edit-form .titlebox .titletext {
    font-size: 60px;
  }
}

html body .generic-list-page .add-edit-form .titlebox img {
  width: 200px;
  position: relative;
  left: 10px;
  top: -18px;
  opacity: 100%;
}

@media screen and (max-width: 850px) {
  html body .generic-list-page .add-edit-form .titlebox img {
    width: 120px;
    top: 0;
  }
}

html body .generic-list-page .add-edit-form form {
  padding: 10px 50px;
  padding-bottom: 45px;
  background-color: #00000010;
  margin: 20px;
  border-radius: 10px;
}

html body .generic-list-page .add-edit-form form .title {
  font-family: 'Mukta', sans-serif;
  font-weight: 800;
  color: #f4f4f4;
  font-size: 20px;
  padding: 10px 5px;
}

html body .generic-list-page .add-edit-form form .buttons {
  color: #454545;
  background-color: #ddc18e;
  padding: 4px 8px;
  border-radius: 4px;
  min-width: 64px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-weight: bolder;
  float: left;
}

html body .generic-list-page .add-edit-form form .buttons:hover {
  background-color: #99bcb5;
  color: #f4f4f4;
}

html body .generic-list-page .add-edit-form form li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 5px;
  left: 50px;
}

html body .generic-list-page .add-edit-form form li .sorlist:nth-of-type(2) span.sorttext {
  display: none;
}

html body .generic-list-page .add-edit-form form li span .sorttext {
  cursor: pointer;
}

html body .generic-list-page .add-edit-form form li span:first-of-type {
  color: #f4f4f4;
  font-family: 'Mukta', sans-serif;
  font-weight: 600;
  padding-right: 7px;
  position: relative;
  top: 10px;
}

html body .generic-list-page .add-edit-form form li span:last-of-type {
  position: relative;
  top: 10px;
  color: #f4f4f4;
  font-family: 'Mukta', sans-serif;
  font-weight: 600;
}

html body .generic-list-page .add-edit-form form li .sorlist:first-of-type span:nth-of-type(0) {
  font-size: 10px;
  -webkit-transform: translate(3px, -10px);
          transform: translate(3px, -10px);
  color: rgba(239, 90, 154, 0.7);
  font-size: 28px;
}

html body .generic-list-page .add-edit-form form li .enabling {
  display: none;
}

html body .generic-list-page .add-edit-form form > input:nth-of-type(1) {
  margin-top: -25px;
  position: relative;
  left: 210px;
  top: 54px;
}

html body .generic-list-page .add-edit-form form input:not([type="submit"]) {
  display: block;
  margin-bottom: 8px;
  -webkit-transition: 0,3 ease;
  transition: 0,3 ease;
}

html body .generic-list-page .add-edit-form form input:not([type="submit"]):focus {
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 200, 0.8);
}

html body .generic-list-page .add-edit-form form h2 {
  text-align: center;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(#eee, #333);
  font-size: 32px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html body .generic-list-page .add-edit-form form div .searchText {
  display: inline-block;
  font-family: 'Mukta', sans-serif;
  font-weight: 600;
  color: #f4f4f4;
  font-size: 15px;
  padding: 0 10px;
  position: relative;
  top: 18px;
}

html body .generic-list-page .add-edit-form form div .searchbar {
  position: relative;
  top: 20px;
}

html body .generic-list-page .add-container {
  text-align: right;
  width: 50px;
}

html body .generic-list-page .add-container button {
  position: relative;
  width: 60px;
  height: 27px;
  margin: 8px;
  font-size: 0;
  background-color: #ddc18e;
  padding: 4px 8px;
  border-radius: 4px;
  min-width: 64px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  float: left;
}

html body .generic-list-page .add-container button::after {
  content: 'New';
  color: #f4f4f4;
  position: absolute;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bolder;
}

html body .generic-list-page .add-container button::after:hover {
  color: #f4f4f4;
}

html body .generic-list-page .add-container button:hover {
  background-color: #99bcb5;
  color: #f4f4f4;
}

html body .generic-list-page .list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: calc(100vh - 125px);
  padding: 20px 0;
}

html body .generic-list-page .list-container::-webkit-scrollbar {
  display: none;
}

html body .generic-list-page .list-container ul {
  margin: 0 16px;
  width: calc(100% - 100px);
  margin: auto;
  max-width: 730px;
  border-radius: 20px;
}

html body .generic-list-page .list-container ul li {
  border: 1px solid rgba(0, 0, 0, 0.02);
  background: #ffffff25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 16px;
  color: #323232;
  margin: auto;
}

html body .generic-list-page .list-container ul li:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .generic-list-page .list-container ul li:hover {
  background: linear-gradient(60deg, #fac47e80 0%, rgba(0, 89, 72, 0.3) 100%);
  color: #f4f4f4;
  border-left: 5px solid rgba(0, 89, 72, 0.3);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

html body .generic-list-page .list-container ul li div:nth-of-type(2n+0) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 120px;
  cursor: pointer;
}

html body .generic-list-page .list-container ul li div:nth-of-type(2n+1) {
  cursor: pointer;
}

html body .generic-list-page .list-container ul li div:nth-of-type(2n+2):hover {
  color: #e2e2e2;
}

html body .generic-list-page .list-container ul li div:nth-of-type(2n+3):hover {
  color: #e2e2e2;
}

html body .generic-list-page .list-container ul li div:nth-of-type(2n+4) {
  display: border-box;
  width: 29px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .generic-list-page .list-container ul li div:nth-of-type(2n+4):hover {
  color: #ddc18e;
}

html body .generic-list-page .list-container ul li div i {
  margin-right: 6px;
  cursor: pointer;
  padding: 4px 8px;
}

html body .generic-list-page .list-container ul li div input.myCheck {
  margin-right: 15px;
}

html body .generic-list-page .list-container ul li .sorlist {
  position: relative;
  left: -10px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
}
/*# sourceMappingURL=generic-list-page.css.map */